<a href="https://colab.research.google.com/github/rajgupta-github/DeepLearning-with-Python/blob/master/NeuralNetwork/Classification/Diabetes_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import tensorflow as tf
import datetime
import pandas as pd
pd.options.display.float_format = "{:,.2f}".format
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%load_ext tensorboard
from pandas_profiling import ProfileReport
from google.colab import drive
drive.mount('/content/drive')

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
diabetes = pd.read_csv('/content/drive/My Drive/TensorFlow/diabetes.csv')
display(diabetes.head())
display(diabetes.describe())
diabetes.info()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                      0.63   50        1
1            1       85             66  ...                      0.35   31        0
2            8      183             64  ...                      0.67   32        1
3            1       89             66  ...                      0.17   21        0
4            0      137             40  ...                      2.29   33        1

[5 rows x 9 columns]

       Pregnancies  Glucose  ...    Age  Outcome
count       768.00   768.00  ... 768.00   768.00
mean          3.85   120.89  ...  33.24     0.35
std           3.37    31.97  ...  11.76     0.48
min           0.00     0.00  ...  21.00     0.00
25%           1.00    99.00  ...  24.00     0.00
50%           3.00   117.00  ...  29.00     0.00
75%           6.00   140.25  ...  41.00     1.00
max          17.00   199.00  ...  81.00     1.00

[8 rows x 9 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Profiling Report Observations


*   No Missing Values
*   No Duplicate Rows
*   8 Numerical and 1 Boolean variable
*   Pregnancies has 111 (14.5%) zeros
*   BloodPressure has 35 (4.6%) zeros
*   SkinThickness has 227 (29.6%) zeros
*   Insulin has 374 (48.7%) zeros
*   BMI has 11 (1.4%) zeros
*

Below are high correlated features based on their correlation values

In [34]:
def get_high_corr_features(df, threshold):
    corr_features = set()
    # create the correlation matrix (default to pearson)
    corr_matrix = df.corr()
    for i in range(len(corr_matrix .columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold:
                colnamei = corr_matrix.columns[i]
                colnamej = corr_matrix.columns[j]
                corr_features.add( (colnamei,colnamej) )
                # corr_features.append(colnamej)
    return corr_features  
get_high_corr_features(diabetes, 0.4)

{('Age', 'Pregnancies'), ('Insulin', 'SkinThickness'), ('Outcome', 'Glucose')}

In [35]:
display(diabetes['Outcome'].value_counts())

0    500
1    268
Name: Outcome, dtype: int64

In [36]:
sns.countplot(diabetes['Outcome'])

In [37]:
sns.pairplot(diabetes)